@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional custom styles */
@layer components {
  .layout-container {
    @apply max-w-[1240px] mx-auto
           px-4 py-12                /* mobile: 16px L/R, 48px T/B */
           sm:px-12 sm:py-20         /* ≥640px: 48px all sides */
           md:px-[60px] md:py-20     /* ≥768px: 60px L/R, 80px T/B */
           lg:px-20 lg:py-20         /* ≥1024px: 80px all sides */
           xl:px-[100px] xl:py-[100px] /* ≥1280px: 100px all sides */
           2xl:px-[100px] 2xl:py-[100px]; /* ≥1536px: same as 1440+ */
  }
}
body {
  background-image:  url('/public/assets/bg-design.svg');
  overflow-x: hidden;
}
/* Hide scrollbar for all browsers */
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.fisherman{
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.579217) 40.23%, rgba(0, 0, 0, 0.8) 75.96%),url('/public/assets/worker.svg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
